@import 'variables';

header {
  .doc-stripe {
    height: $spacer;
    background-color: $doc-yellow;
  }
  nav {
    text-transform: uppercase;

    .navbar-brand img {
      height: 48px;

      @include media-breakpoint-up(sm) {
        height: 64px;
      }
    }
  }
}
