@import 'variables';

header {
  nav {
    text-transform: uppercase;

    .navbar-brand img {
      height: 48px;

      @include media-breakpoint-up(sm) {
        height: 64px;
      }
    }

    .nav-item i {
      @include media-breakpoint-only(md) {
        // Keeps icons on one line at appropriate breakpoints
        display: none;
      }
    }
  }
}
