@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

table .form-group {
  margin-bottom: 0;
}

.control-label {
  font-weight: bold;
}

.bg-faded {
  background-color: rgba($brown-faded, 0.5);
}

.alert-faded {
  background-color: rgba($brown-faded, 0.5);
  border-color: $brown-faded;
}
