@import 'variables';

.GridTileCard {
  h2 {
    font-size: $h3-font-size;
  }
  &.hideDetails {
    h2 {
      font-size: $font-size-sm;
      font-family: $font-family-base;
      margin: 0;
    }
  }
}
