@import 'assets/css/_variables';

.GridTileMap {
  height: 800px;

  @include media-breakpoint-down(sm) {
    height: 640px;
  }

  width: 100%;

  .tile-tooltip {
    h2 {
      font-size: $font-size-lg;
    }
    dl,
    dt,
    dd {
      margin-bottom: 0;
    }
  }
}
